label {
    vertical-align: middle;
}
.wrap {
    max-width: 800px;
}
.meta-text-field {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f7fcff;
    display: block;
    float: left;
    box-sizing: border-box;
    margin-right: 20px;
    min-height: 120px;
    position: relative;    
    width: calc(50% - 20px);
}
.meta-text-field-full {
    width: calc(100% - 20px);
}
.meta-text-field > label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.meta-text-field textarea {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: solid 1.5px #e3e8fb;
    border-radius: 0;
    color: #5d6182;
}
.meta-text-field input[type='text'],
.meta-text-field input[type='number'],
select {
    border: none;
    border-bottom: solid 1.5px #e3e8fb;
    height: 38px;
    border-radius: 0;
    color: #5d6182;
    width: 100%;
    padding: 4px 10px;
}

#wpfooter .meta-text-footer a {
    text-decoration: none;
}
#wpfooter .meta-text-footer span {
    color: #ffb900;
}